/*CSS for small screens*/
@media screen and (max-width: 600px) {
  html, body {
    height: 100%;
    margin: 0;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .container {
    height: 100%;
    /*background-color: #ffffdd;*/ /*yellow*/
  }

  .map {
    /*background-color: #a0ffe6;*/ /*blue*/ 
    height: 60%;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .stories {
    /*background-color: #ffd5e5;*/ /*red*/
    height: 40%;
    overflow-y: scroll;
  }

  .story {
    padding: 10px 60px 10px 10px;
    box-shadow: 0 4px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  #story-hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /*background-color: #d9d7d6;*/
    border-left: 8px solid #3FB1CE;
  }

  .story:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-left: 8px solid #3FB1CE;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .blurb {
    display: none;
    /*color: #555;*/
  }

  .mapboxgl-popup-content {
    border-radius: 13px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .2);
    padding: 10px;
  }

  g:hover {
      fill: black;
  }
}

/*CSS for normal screens*/
@media screen and (min-width: 600px) {
  html, body {
    height: 100%;
    margin: 0;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .container {
    display: flex;
    height: 100%;
    /*background-color: #ffffdd;*/ /*yellow*/
  }

  .map {
    /*background-color: #a0ffe6;*/ /*blue*/ 
    flex: 2;
    height: 100%;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .stories {
    /*background-color: #ffd5e5;*/ /*red*/
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }

  .story {
    padding: 10px 60px 10px 10px;
    box-shadow: 0 4px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  #story-hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /*background-color: #d9d7d6;*/
    border-left: 8px solid #3FB1CE;
  }

  .story:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-left: 8px solid #3FB1CE;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .blurb {
    color: #555;
  }

  .mapboxgl-popup-content {
    border-radius: 13px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .2);
    padding: 10px;
  }

  g:hover {
      fill: black;
  }
}