html, body {
	height: 100%;
	margin: 0;
}
.container {
	background-color: #ffffdd;
	height: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.map {
	background-color: #a0ffe6;
	flex: 66%;
}

.stories {
	background-color: #ffd5e5;
	flex: 33%;
}

.story {
	border-style: solid;
	height: 200px;
}